.bg-page{
  position: relative;
  .img-fluid-1{
    position: absolute;
    top: 0;
    right: 0;
    width: 700px;
    z-index: -1;
    float: right;
    object-position: 226px 0px;
  }
  .img-fluid-2{
    position: absolute;
    top: 1015px;
    right: 35%;
    width: 400px;
    z-index: -1;
    float: right;
  }
  .img-fluid-3{
    position: absolute;
    top: 230px;
    left: 0;
    width: 700px;
    z-index: -1;
    float: right;
    object-position: -233px 0px;
  }
  .card-section{
    margin-bottom: 50px;
    .card-title{
      margin: 50px 0;
    }
    .img-col-1{
      text-align: center;
      .img-fluid{
        margin-top: 40px;
      }
    }
    .text-img{
      color: #13698f;
      font-weight: 400;
      text-align: center;
      margin-top: 30px;
    }
  }
  .description{
    font-size: 26px;
    //line-height: 36px;
    color: #08222f;
  }

  .text-realisatio {
    font-size: 20px;
    text-align: center;
  }

  .text-blue-realisatio {
    font-size: 20px;
    color: #156799;
    font-weight: bold;
    margin-top: 17px;
    text-align: center;
  }

  .form-container {
    border: 4px ;
    border-radius: 10px;
    padding: 30px;
    background: none /*linear-gradient(to bottom, #15afe2, #184b80)*/;
    color: white;
    text-align: center;
  }

  .form-fieldset {
    display: inline-block;
    width: calc(50% - 10px);
    margin-bottom: 20px;
    color: var(--var-cyan-color);
  }

  .form-fieldset  label {
    display: block;
    margin-bottom: 5px;
    color: var(--var-cyan-color);
  }

  .form-field {
    display: grid;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid #15afe2;
    border-radius: 5px;
    padding: 8px;

  }

  .form-field:focus {
    outline: none;
  }

  .form-submit {
    background: linear-gradient(to right, #15afe2, #184b80);
    color: white;
    border: none;
    border-bottom-left-radius: 30px;
    padding: 10px 20px;
    cursor: pointer;

  }

  .form-submit:hover {
    background-color: #184b80;
  }

}
