<div class="carousel-section">
  <div class="carousel-overlay">
    <h2 class="carousel-title">LA PERFECTION EST DANS NOTRE NATURE</h2>
    <div class="carousel-sub-title">
      A l’image de la précision des éléments naturels, forts de nos compétences et des nouvelles avancées technologiques
      majeures, nous travaillons l’usinage de pièces mécaniques avec la plus grande minutie.
    </div>
    <button class="btn read-more text-bold">
      SAVOIR PLUS
    </button>
    <h4 class="discover-us">Nous découvrir</h4>
    <button class="discover-us-btn">
      <i class="pi pi-arrow-down"></i>
    </button>
    <div class="carousel-navigation-btn-group">
      <button class="navigation-btn navigation-left-btn">
        <i class="pi pi-chevron-left"></i>
      </button>
      <button class="navigation-btn navigation-right-btn">
        <i class="pi pi-chevron-right"></i>
      </button>
    </div>
  </div>
</div>
<div class="container">
  <!--usinage-section-->
  <div class="mper-header">
    <h3><i class="pi pi-window-minimize"></i>
      <h3 class="dark-title">usinage de </h3>
      <h3 class="light-title"> haute précision</h3></h3>
  </div>
  <div class="usinage-section">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <img class="img-fluid" src="./assets/images/découpe%20img/_0056_USINAGE-DE-HAUTE-PRÉCISION.png">
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="description">
          <h5>En accordant le plus grand soin à l’exigence et à la réactivité sur les produits à très
            haute valeur ajoutée,
            Mper Maroc apporte la solution optimisée aux problèmes complexes de ses clients.</h5>
          <button class="btn read-more text-bold">
            SAVOIR PLUS
          </button>
        </div>
      </div>
    </div>
  </div>
  <!--activity-section-->
  <div class="mper-header">
    <h3><i class="pi pi-window-minimize"></i>
      <h3 class="dark-title">secteurs </h3>
      <h3 class="light-title"> d'activités</h3></h3>
  </div>
  <div class="mper-sub-header">
    <h4>Nous atouts selon votre activité</h4>
  </div>
  <div class="activity-section container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 align-self-center p-4">
        <div class="activity-card">
          <img class="img-fluid" src="./assets/images/découpe%20img/_0034_Rectangle-15-copie-min.png">
          <div class="discover-activity">
            <span> découvrir <i class="pi pi-chevron-right"></i></span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 align-self-center p-4">
        <div class="activity-card">
          <img class="img-fluid" src="./assets/images/découpe%20img/_0034_Rectangle-15-copie-min.png">
          <div class="discover-activity">
            <span> découvrir <i class="pi pi-chevron-right"></i></span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 align-self-center p-4">
        <div class="activity-card">
          <img class="img-fluid" src="./assets/images/découpe%20img/_0033_Rectangle-15-copie-2-min.png">
          <div class="discover-activity">
            <span> découvrir <i class="pi pi-chevron-right"></i></span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 align-self-center p-4">
        <div class="activity-card">
          <img class="img-fluid" src="./assets/images/découpe%20img/_0030_Objet-dynamique-vectoriel-min.png">
          <div class="discover-activity">
            <span> découvrir <i class="pi pi-chevron-right"></i></span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 align-self-center p-4">
        <div class="activity-card">
          <img class="img-fluid" src="./assets/images/découpe%20img/_0032_Objet-dynamique-vectoriel-min.png">
          <div class="discover-activity">
            <span> découvrir <i class="pi pi-chevron-right"></i></span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 align-self-center p-4">
        <div class="activity-card">
          <img class="img-fluid" src="./assets/images/découpe%20img/_0031_Objet-dynamique-vectoriel-min.png">
          <div class="discover-activity">
            <span> découvrir <i class="pi pi-chevron-right"></i></span>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="activity-summary row">
      <div class="col-lg-9 col-md-12">
        <img class="activity-logo" src="./assets/images/logo%20+%20icon%20logo/logo%20svg%202.svg">
        <h6 class="activity-summary-text">Vous avez un besoin précis dans un autre secteur d'activité ?
          <br>
          Adressez-nous votre demande</h6>
      </div>
      <div class="col-lg-3 col-md-12">
        <button class="btn read-more text-bold">
          SAVOIR PLUS
        </button>
      </div>
    </div>
  </div>

  <!--engagement-section-->
  <div class="mper-header">
    <h3><i class="pi pi-window-minimize"></i>
      <h3 class="dark-title">notre </h3>
      <h3 class="light-title"> engagement</h3></h3>
  </div>
  <div class="mper-sub-header">
    <h4>Vous accompagner à chaque étape</h4>
  </div>
  <div class="engagement-section container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
        <div class="engagement-card">
          <img class="img-border" src="assets/images/découpe%20img/_0047_Rectangle-7-copie-8.png">
          <div class="gradient-overlay">
            <img src="./assets/images/NOTRE%20ENGAGEMENT/NE%20Prise%20en%20compte%20couleur.svg">
            <h5 class="engagement-card-title">Prise en compte de votre problématique.</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="engagement-card">
          <img class="img-border" src="assets/images/découpe%20img/_0048_Rectangle-7-copie-5.png">
          <div class="gradient-overlay">
            <img src="./assets/images/NOTRE%20ENGAGEMENT/NE%20Rech%20déve%20couleur.svg">
            <h5 class="engagement-card-title">Recherche & développement dans notre bureau d'étude.</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
        <div class="engagement-card">
          <img class="img-border" src="assets/images/découpe%20img/_0046_Rectangle-7-copie-6.png">
          <div class="gradient-overlay">
            <img src="./assets/images/NOTRE%20ENGAGEMENT/NE%20Usinage%20couleur.svg">
            <h5 class="engagement-card-title">Usinage des pièces grace à notre parc machines.</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="engagement-card">
          <img class="img-border" src="assets/images/découpe%20img/_0045_Rectangle-7-copie-6.png">
          <div class="gradient-overlay">
            <img src="./assets/images/NOTRE%20ENGAGEMENT/NE%20Livraison%20couleur.svg">
            <h5 class="engagement-card-title">Livraison de votre produit dans les délais annoncés.</h5>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--values-section-->
  <div class="mper-header">
    <h3><i class="pi pi-window-minimize"></i>
      <h3 class="dark-title">nos </h3>
      <h3 class="light-title"> Valeurs</h3></h3>
  </div>
  <div class="mper-sub-header">
    <h4>Fiabilité, réactivité et transparence</h4>
  </div>
  <div class="container values-section">
    <h5 class="values-text">
      La passion et le savoir-faire de nos équipes est au cœur de la conception de nos systèmes aluminium, pensés
      toujours plus performants et évolutifs pour pouvoir répondre aux plus grands nombres d’applications. Plus que
      des
      produits, nous offrons des solutions et des services basés sur l’accompagnement, le partage et la confiance.
    </h5>
    <div class="row">
      <div class="col-lg-3 col-md-12 p-2 align-self-center">
        <div class="p-5" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="space-evenly center">
          <div fxFlex class="values-tag">Satisfaction client</div>
          <div fxFlex class="values-tag">Engagement</div>
          <div fxFlex class="values-tag">Qualité de vie au travail</div>
          <div fxFlex class="values-tag">Excellente opérationnel</div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 p-5 align-self-center">
        <img class="values-img" src="./assets/images/découpe%20img/_0055_nos-valeurs.png">
      </div>
      <div class="col-lg-3 col-md-12 p-2 align-self-center">
        <div class="p-5" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="space-evenly center">
          <div fxFlex class="values-tag">Qualité</div>
          <div fxFlex class="values-tag">RSE</div>
          <div fxFlex class="values-tag">Communion</div>
        </div>
      </div>
    </div>
  </div>

  <!-- newsletter-section -->
  <div class="newsletter-section container">
    <div class="row justify-content-around">
      <div class="newsletter-card col-5 newsletter-card-bg">
        <h3 class="newsletter-title">Abonnez-vous à la newsletter</h3>
        <h5 class="newsletter-subtitle">Inscrivez-vous pour recevoir les dernières mises à jour et nouvelles.</h5>
      </div>
      <div class="newsletter-card col-5">
        <div class="newsletter-form">
          <input name="email" placeholder="Entrez votre email">
          <button class="send-btn"><i class="pi pi-send"></i></button>
        </div>
      </div>
    </div>
  </div>

  <!--sponsors-section-->
  <div class="mper-header">
    <h3><i class="pi pi-window-minimize"></i>
      <h3 class="dark-title">Ils nous</h3>
      <h3 class="light-title"> Soutiennent</h3></h3>
  </div>
  <div class="sponsors-section">
    <div class="row">
      <div class="col m-3 col-ls-12">
        <img class="img-fluid sponsor-logo" src="./assets/images/Ils%20nous%20soutiennent/nous-soutiennent_0001_Calque-2.png">
      </div>
      <div class="col m-3 col-ls-12">
        <img class="img-fluid sponsor-logo" src="./assets/images/Ils%20nous%20soutiennent/nous-soutiennent_0002_Calque-1.png">
      </div>
      <div class="col m-3 col-ls-12">
        <img class="img-fluid sponsor-logo" src="./assets/images/Ils%20nous%20soutiennent/nous-soutiennent_0000_dddd.png">
      </div>
    </div>
  </div>
</div>
