<div class="carousel-section">
  <div class="carousel-overlay">
    <h2 class="carousel-title">LA PERFECTION EST DANS NOTRE NATURE</h2>
    <div class="carousel-sub-title">
      A l’image de la précision des éléments naturels, forts de nos compétences et des nouvelles avancées technologiques
      majeures, nous travaillons l’usinage de pièces mécaniques avec la plus grande minutie.
    </div>
    <button class="btn read-more text-bold">
      SAVOIR PLUS
    </button>
    <h4 class="discover-us">Nous découvrir</h4>
    <button class="discover-us-btn">
      <i class="pi pi-arrow-down"></i>
    </button>
    <div class="carousel-navigation-btn-group">
      <button class="navigation-btn navigation-left-btn">
        <i class="pi pi-chevron-left"></i>
      </button>
      <button class="navigation-btn navigation-right-btn">
        <i class="pi pi-chevron-right"></i>
      </button>
    </div>
  </div>
</div>
<div class="container">
  <div class="mper-header">
    <h3><i class="pi pi-window-minimize"></i>
      <h3 class="dark-title">usinage de </h3>
      <h3 class="light-title"> haute précision</h3></h3>
  </div>
  <div class="usinage-section">
    <div fxLayout="row" fxLayoutAlign="space-around start">
      <div class="flower-images" fxFlex="50">
        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-around end">
          <div fxFlex="40" class="img-top-left"></div>
          <div fxFlex="60" class="img-top-right"></div>
        </div>
        <br>
        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-around start">
          <div fxFlex="60" class="img-bottom-left"></div>
          <div fxFlex="40" class="img-bottom-right"></div>
        </div>
      </div>
      <div fxFlex="50">
        <div class="description">
          <h5 class="text-light">En accordant le plus grand soin à l’exigence et à la réactivité sur les produits à très haute valeur ajoutée,
            Mper Maroc apporte la solution optimisée aux problèmes complexes de ses clients.</h5>
          <button class="btn read-more text-bold">
            SAVOIR PLUS
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="mper-header">
    <h3><i class="pi pi-window-minimize"></i>
      <h3 class="dark-title">secteurs </h3>
      <h3 class="light-title"> d'activités</h3></h3>
  </div>
  <div class="mper-sub-header">
    <h4>Nous atouts selon votre activité</h4>
  </div>
  <div class="activity-section container">
    <div fxLayout="row" fxLayoutGap="50px" fxLayoutAlign="space-around center">
      <div fxFlex="33" fxLayoutAlign="center center">
        <div class="activity-card automobile-card">
          <div class="dark-blue-overlay">
            <div class="discover-activity">
              <span> découvrir <i class="pi pi-chevron-right"></i></span>
            </div>
            <span class="pi pi-car"></span>
            <h5 class="activity-card-title">Automobile</h5>
          </div>
        </div>
      </div>
      <div fxFlex="33" fxLayoutAlign="center center">
        <div class="activity-card automobile-card">
          <div class="dark-blue-overlay">
            <div class="discover-activity">
              <span> découvrir <i class="pi pi-chevron-right"></i></span>
            </div>
            <span class="pi pi-car"></span>
            <h5 class="activity-card-title">Ferroviere</h5>
          </div>
        </div>
      </div>
      <div fxFlex="33" fxLayoutAlign="center center">
        <div class="activity-card automobile-card">
          <div class="dark-blue-overlay">
            <div class="discover-activity">
              <span> découvrir <i class="pi pi-chevron-right"></i></span>
            </div>
            <span class="pi pi-car"></span>
            <h5 class="activity-card-title">Aéronotique</h5>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div fxLayout="row" fxLayoutGap="50px" fxLayoutAlign="space-around center">
      <div fxFlex="33" fxLayoutAlign="center center">
        <div class="activity-card automobile-card">
          <div class="dark-blue-overlay">
            <div class="discover-activity">
              <span> découvrir <i class="pi pi-chevron-right"></i></span>
            </div>
            <span class="pi pi-car"></span>
            <h5 class="activity-card-title">Médicale</h5>
          </div>
        </div>
      </div>
      <div fxFlex="33" fxLayoutAlign="center center">
        <div class="activity-card automobile-card">
          <div class="dark-blue-overlay">
            <div class="discover-activity">
              <span> découvrir <i class="pi pi-chevron-right"></i></span>
            </div>
            <span class="pi pi-car"></span>
            <h5 class="activity-card-title">Agro-alimentaire</h5>
          </div>
        </div>
      </div>
      <div fxFlex="33" fxLayoutAlign="center center">
        <div class="activity-card automobile-card">
          <div class="dark-blue-overlay">
            <div class="discover-activity">
              <span> découvrir <i class="pi pi-chevron-right"></i></span>
            </div>
            <span class="pi pi-car"></span>
            <h5 class="activity-card-title">Mécanique-générale</h5>
          </div>
        </div>
      </div>
    </div>
  </div>




  <div class="empty-space"></div>
</div>
