<div class="carousel-section">
  <div class="carousel-overlay">
    <h2 class="carousel-title">LA PERFECTION EST DANS NOTRE NATURE</h2>
    <div class="carousel-sub-title">
      A l’image de la précision des éléments naturels, forts de nos compétences et des nouvelles avancées technologiques
      majeures, nous travaillons l’usinage de pièces mécaniques avec la plus grande minutie.
    </div>
    <button class="btn read-more text-bold">
      SAVOIR PLUS
    </button>
    <h4 class="discover-us">Nous découvrir</h4>
    <button class="discover-us-btn">
      <i class="pi pi-arrow-down"></i>
    </button>
    <div class="carousel-navigation-btn-group">
      <button class="navigation-btn navigation-left-btn">
        <i class="pi pi-chevron-left"></i>
      </button>
      <button class="navigation-btn navigation-right-btn">
        <i class="pi pi-chevron-right"></i>
      </button>
    </div>
  </div>
</div>
<div class="container">
  <!--usinage-section-->
  <div class="mper-header">
    <h3><i class="pi pi-window-minimize"></i>
      <h3 class="dark-title">usinage de </h3>
      <h3 class="light-title"> haute précision</h3></h3>
  </div>
  <div class="usinage-section">
    <div class="row">
      <div class="col-md-6 col-sm-12 flower-images">
        <div class="row row-cols-2">
          <div class="col-5 m-2 p-0 align-self-end">
            <div class="img-top-left"></div>
          </div>
          <div class="col-6 m-2 p-0 align-self-start">
            <div class="img-top-right"></div>
          </div>
          <div class="col-6 m-2 p-0 align-self-end">
            <div class="img-bottom-left"></div>
          </div>
          <div class="col-5 m-2 p-0 align-self-start">
            <div class="img-bottom-right"></div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="description">
          <h5 >En accordant le plus grand soin à l’exigence et à la réactivité sur les produits à très
            haute valeur ajoutée,
            Mper Maroc apporte la solution optimisée aux problèmes complexes de ses clients.</h5>
          <button class="btn read-more text-bold">
            SAVOIR PLUS
          </button>
        </div>
      </div>
    </div>
  </div>
  <!--activity-section-->
  <div class="mper-header">
    <h3><i class="pi pi-window-minimize"></i>
      <h3 class="dark-title">secteurs </h3>
      <h3 class="light-title"> d'activités</h3></h3>
  </div>
  <div class="mper-sub-header">
    <h4>Nous atouts selon votre activité</h4>
  </div>
  <div class="activity-section container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 align-self-end p-2">
        <div class="activity-card automobile-card">
          <div class="dark-blue-overlay">
            <div class="discover-activity">
              <span> découvrir <i class="pi pi-chevron-right"></i></span>
            </div>
            <span class="pi pi-car"></span>
            <h5 class="activity-card-title">Automobile</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 align-self-center p-2">
        <div class="activity-card automobile-card">
          <div class="dark-blue-overlay">
            <div class="discover-activity">
              <span> découvrir <i class="pi pi-chevron-right"></i></span>
            </div>
            <span class="pi pi-car"></span>
            <h5 class="activity-card-title">Ferroviere</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 align-self-start p-2">
        <div class="activity-card automobile-card">
          <div class="dark-blue-overlay">
            <div class="discover-activity">
              <span> découvrir <i class="pi pi-chevron-right"></i></span>
            </div>
            <span class="pi pi-car"></span>
            <h5 class="activity-card-title">Aéronotique</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 align-self-end p-2">
        <div class="activity-card automobile-card">
          <div class="dark-blue-overlay">
            <div class="discover-activity">
              <span> découvrir <i class="pi pi-chevron-right"></i></span>
            </div>
            <span class="pi pi-car"></span>
            <h5 class="activity-card-title">Médicale</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 align-self-center p-2">
        <div class="activity-card automobile-card">
          <div class="dark-blue-overlay">
            <div class="discover-activity">
              <span> découvrir <i class="pi pi-chevron-right"></i></span>
            </div>
            <span class="pi pi-car"></span>
            <h5 class="activity-card-title">Agro-alimentaire</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 align-self-start p-2">
        <div class="activity-card automobile-card">
          <div class="dark-blue-overlay">
            <div class="discover-activity">
              <span> découvrir <i class="pi pi-chevron-right"></i></span>
            </div>
            <span class="pi pi-car"></span>
            <h5 class="activity-card-title">Mécanique-générale</h5>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="activity-summary row">
      <div class="col-lg-9 col-md-12">
        <span class="pi pi-image plan-icon"></span>
        <h6 class="activity-summary-text">Vous avez un besoin précis dans un autre secteur d'activité ?
          <br>
          Adressez-nous votre demande</h6>
      </div>
      <div class="col-lg-3 col-md-12">
        <button class="btn read-more text-bold">
          SAVOIR PLUS
        </button>
      </div>
    </div>
  </div>

  <!--engagement-section-->
  <div class="mper-header">
    <h3><i class="pi pi-window-minimize"></i>
      <h3 class="dark-title">notre </h3>
      <h3 class="light-title"> engagement</h3></h3>
  </div>
  <div class="mper-sub-header">
    <h4>Vous accompagner à chaque étape</h4>
  </div>
  <div class="engagement-section container">
    <div class="row">
      <div style="position: relative; top: 30px" class="col-lg-3 col-md-6 col-sm-12">
        <div class="engagement-card">
          <div class="gradient-overlay">
            <span class="engagement-number">1</span>
            <span class="pi pi-car"></span>
            <h5 class="engagement-card-title">Prise en compte de votre problématique.</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="engagement-card">
          <div class="gradient-overlay">
            <span class="engagement-number">2</span>
            <span class="pi pi-car"></span>
            <h5 class="engagement-card-title">Recherche & développement dans notre bureau d'étude.</h5>
          </div>
        </div>
      </div>
      <div style="position: relative; top: 30px" class="col-lg-3 col-md-6 col-sm-12 mt-3">
        <div class="engagement-card">
          <div class="gradient-overlay">
            <span class="engagement-number">3</span>
            <span class="pi pi-car"></span>
            <h5 class="engagement-card-title">Usinage des pièces grace à notre parc machines.</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 mt-3">
        <div class="engagement-card">
          <div class="gradient-overlay">
            <span class="engagement-number">4</span>
            <span class="pi pi-car"></span>
            <h5 class="engagement-card-title">Livraison de votre produit dans les délais annoncés.</h5>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--values-section-->
  <div class="mper-header">
    <h3><i class="pi pi-window-minimize"></i>
      <h3 class="dark-title">nos </h3>
      <h3 class="light-title"> Valeurs</h3></h3>
  </div>
  <div class="mper-sub-header">
    <h4>Fiabilité, réactivité et transparence</h4>
  </div>
  <div class="container values-section">
    <h5 class="values-text">
      La passion et le savoir-faire de nos équipes est au cœur de la conception de nos systèmes aluminium, pensés
      toujours plus performants et évolutifs pour pouvoir répondre aux plus grands nombres d’applications. Plus que des
      produits, nous offrons des solutions et des services basés sur l’accompagnement, le partage et la confiance.
    </h5>
    <div class="row">
      <div class="col-lg-3 col-md-12 p-2 align-self-center">
        <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="space-evenly center">
          <div fxFlex class="values-tag">Satisfaction client</div>
          <div fxFlex class="values-tag">Engagement</div>
          <div fxFlex class="values-tag">Qualité de vie au travail</div>
          <div fxFlex class="values-tag">Excellente opérationnel</div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 p-2 align-self-center">
        <img class="values-img" src="./assets/img/home-page.png">
      </div>
      <div class="col-lg-3 col-md-12 p-2 align-self-center">
        <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="space-evenly center">
          <div fxFlex class="values-tag">Qualité</div>
          <div fxFlex class="values-tag">RSE</div>
          <div fxFlex class="values-tag">Communion</div>
        </div>
      </div>
    </div>
  </div>

  <!-- newsletter-section -->
  <div class="newsletter-section container">
    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-evenly center">
      <div class="newsletter-card" fxFlex.gt-lg="50" fxFlex.md="50" fxFlex.lt-md="100">
        <h3 class="newsletter-title">Abonnez-vous à la newsletter</h3>
        <h5 class="newsletter-subtitle">Inscrivez-vous pour recevoir les dernières mises à jour et nouvelles.</h5>
      </div>
      <div class="newsletter-card" fxFlex.gt-lg="50" fxFlex.md="50" fxFlex.lt-md="100">
        <div class="newsletter-form">
          <input name="email" placeholder="Entrez votre email">
          <button class="send-btn"><i class="pi pi-send"></i></button>
        </div>
      </div>
    </div>
  </div>

  <!--sponsors-section-->
  <div class="mper-header">
    <h3><i class="pi pi-window-minimize"></i>
      <h3 class="dark-title">Ils nous</h3>
      <h3 class="light-title"> Soutiennent</h3></h3>
  </div>
  <div class="sponsors-section">
    <div class="row">
      <div class="col m-3 col-ls-12 sponsor-card">
        <img class="img-fluid sponsor-logo" src="./assets/img/home-page.png">
      </div>
      <div class="col m-3 col-ls-12 sponsor-card">
        <img class="img-fluid sponsor-logo" src="./assets/img/home-page.png">
      </div>
      <div class="col m-3 col-ls-12 sponsor-card">
        <img class="img-fluid sponsor-logo" src="./assets/img/home-page.png">
      </div>
    </div>
  </div>
</div>
