<app-mper-header [hiddenTitle]="hiddenHeader"
                 titleDark="secteurs"
                 [titleLight]="'d\'activités'"
                 [subTitle]="title"></app-mper-header>

<div class="activity-section container">
  <div class="row" style="justify-content: center;">
    <div routerLinkActive="secteur-active"
      routerLink="/secteurs-activites/automobile" class="secteur-card {{colClass}} align-self-center p-4">
      <div class="activity-card">
<!--        <img class="img-fluid" src="./assets/images/découpe%20img/_0034_Rectangle-15-copie-min.png">-->
        <img class="img-fluid" src="./assets/MPER_IMAGE/secteur_activite/02_main/automobile1.png">
      </div>
      <div class="discover-activity">
        <span> découvrir <i class="pi pi-chevron-right"></i></span>
      </div>
    </div>
    <div routerLinkActive="secteur-active"
         routerLink="/secteurs-activites/ferroviaire" class="secteur-card {{colClass}} align-self-center p-4">
      <div class="activity-card">
        <img class="img-fluid" src="./assets/images/découpe%20img/_0034_Rectangle-15-copie-min.png">
      </div>
      <div class="discover-activity">
        <span> découvrir <i class="pi pi-chevron-right"></i></span>
      </div>
    </div>
    <div class="secteur-card {{colClass}} align-self-center p-4">
      <div class="activity-card">
        <img class="img-fluid" src="./assets/images/découpe%20img/_0033_Rectangle-15-copie-2-min.png">
      </div>
      <div class="discover-activity">
        <span> découvrir <i class="pi pi-chevron-right"></i></span>
      </div>
    </div>
    <div class="secteur-card {{colClass}} align-self-center p-4">
      <div class="activity-card">
        <img class="img-fluid" src="./assets/images/découpe%20img/_0030_Objet-dynamique-vectoriel-min.png">
      </div>
      <div class="discover-activity">
        <span> découvrir <i class="pi pi-chevron-right"></i></span>
      </div>
    </div>
    <div routerLinkActive="secteur-active"
    routerLink="/secteurs-activites/agro-alimentaire"  class="secteur-card {{colClass}} align-self-center p-4">
      <div class="activity-card">
        <img class="img-fluid" src="./assets/images/découpe%20img/_0032_Objet-dynamique-vectoriel-min.png">
      </div>
      <div class="discover-activity">
        <span> découvrir <i class="pi pi-chevron-right"></i></span>
      </div>
    </div>
    <div class="secteur-card {{colClass}} align-self-center p-4">
      <div class="activity-card">
        <img class="img-fluid" src="./assets/images/découpe%20img/_0031_Objet-dynamique-vectoriel-min.png">
      </div>
      <div class="discover-activity">
        <span> découvrir <i class="pi pi-chevron-right"></i></span>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="activity-summary row">
    <div class="col-lg-9 col-md-12">
      <img class="activity-logo" src="./assets/images/logo%20+%20icon%20logo/logo%20svg%202.svg">
      <h6 class="activity-summary-text">Vous avez un besoin précis dans un autre secteur d'activité ?
        <br>
        Adressez-nous votre demande</h6>
    </div>
    <div class="col-lg-3 col-md-12">
      <button class="btn read-more text-bold">
        Envoyer une demande
      </button>
    </div>
  </div>
</div>
