<div class="mper-header">
  <div>
    <img src="./assets/images/icon%20titre.svg">
    <h3 class="dark-title font-din-exp">secteurs </h3>
    <h3 class="light-title font-din-exp"> d'activités
      <div  class="border-b"></div>
    </h3>
  </div>
</div>
<div class="mper-sub-header">
  <h4 class="font-din-exp">Nous atouts selon votre activité</h4>
</div>
<div class="activity-section container">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 align-self-center p-4">
      <div class="activity-card">
        <img class="img-fluid" src="./assets/images/découpe%20img/_0034_Rectangle-15-copie-min.png">
        <div class="discover-activity">
          <span> découvrir <i class="pi pi-chevron-right"></i></span>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 align-self-center p-4">
      <div class="activity-card">
        <img class="img-fluid" src="./assets/images/découpe%20img/_0034_Rectangle-15-copie-min.png">
        <div class="discover-activity">
          <span> découvrir <i class="pi pi-chevron-right"></i></span>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 align-self-center p-4">
      <div class="activity-card">
        <img class="img-fluid" src="./assets/images/découpe%20img/_0033_Rectangle-15-copie-2-min.png">
        <div class="discover-activity">
          <span> découvrir <i class="pi pi-chevron-right"></i></span>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 align-self-center p-4">
      <div class="activity-card">
        <img class="img-fluid" src="./assets/images/découpe%20img/_0030_Objet-dynamique-vectoriel-min.png">
        <div class="discover-activity">
          <span> découvrir <i class="pi pi-chevron-right"></i></span>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 align-self-center p-4">
      <div class="activity-card">
        <img class="img-fluid" src="./assets/images/découpe%20img/_0032_Objet-dynamique-vectoriel-min.png">
        <div class="discover-activity">
          <span> découvrir <i class="pi pi-chevron-right"></i></span>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 align-self-center p-4">
      <div class="activity-card">
        <img class="img-fluid" src="./assets/images/découpe%20img/_0031_Objet-dynamique-vectoriel-min.png">
        <div class="discover-activity">
          <span> découvrir <i class="pi pi-chevron-right"></i></span>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="activity-summary row">
    <div class="col-lg-9 col-md-12">
      <img class="activity-logo" src="./assets/images/logo%20+%20icon%20logo/logo%20svg%202.svg">
      <h6 class="activity-summary-text">Vous avez un besoin précis dans un autre secteur d'activité ?
        <br>
        Adressez-nous votre demande</h6>
    </div>
    <div class="col-lg-3 col-md-12">
      <button class="btn read-more text-bold">
        Envoyer une demande
      </button>
    </div>
  </div>
</div>
