<app-mper-banner
  title="Société"
  titleSub="Accueil / Société"
  urlImg="../../../assets/MPER_IMAGE/commun/background/banner-société.gif">
</app-mper-banner>



<div class="container my-5">
  <app-mper-header titleDark="Société"></app-mper-header>
  <div class="societe-section">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <img appAnimationHoverEffect class="img-fluid" src="./assets/MPER_IMAGE/societe/02_societe/_0056_USINAGE-DE-HAUTE-PRÉCISION.png">
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="description">
          <h5>MPER MAROC est un nouveau projet spécialisé dans la fabrication mécanique avec des machines à
            commandes numérique, ce projet est destiné à la sous-traitance rang 1 et 2 pour les secteurs
            les plus stratégiques de l’industrie marocaine tel l'aéronautique, l'automobile, ferroviaire et médicale
            ....</h5>
          <h5>
            Afin d’accroître notre activité, nous souhaitons disposé des machines qui ont pour objet la fabrication des
            pièces mécanique.
          </h5>
        </div>
      </div>
    </div>
  </div>
  <div class="row align-self-center">
    <div [ngClass]="selectedTabIndex == 0 ? 'presentation-card-active' : ''"
         class="col-md-4 col-sm-12 my-3 presentation-card" (click)="onChangeTab(0)">
      <img src="./assets/MPER_IMAGE/Societe_equipe/icons/presentation.png">
      <h4 style="color: var(--var-dark-blue-text-color)" class="font-lato text-bold">présentation</h4>
    </div>
    <div [ngClass]="selectedTabIndex == 1 ? 'presentation-card-active' : ''"
         class="col-md-4 col-sm-12 my-3 presentation-card" (click)="onChangeTab(1)">
      <img src="./assets/MPER_IMAGE/Societe_equipe/icons/equipe.png">
      <h4 class="font-lato text-bold">equipe</h4>
    </div>
    <div [ngClass]="selectedTabIndex == 2 ? 'presentation-card-active' : ''"
         class="col-md-4 col-sm-12 my-3 presentation-card" (click)="onChangeTab(2)">
      <img src="./assets/MPER_IMAGE/Societe_equipe/icons/expertise.png">
      <h4 style="color: var(--var-dark-blue-text-color)" class="font-lato text-bold">expertises</h4>
    </div>
  </div>
  <div *ngIf="selectedTabIndex == 0" class="presentation-section">
    <h3>Maitriser, anticiper et s'engager.</h3>
    <p>Mper Maroc travail dans le domaine de la fabrication mécanique, dont les pièces produites sont destinées
      aux secteurs :</p>
    <div class="my-5">
      <img class="img-fluid" src="../../../assets/MPER_IMAGE/Societe_presentation/img.png">
    </div>
    <p>  MPER Maroc opère dans la fabrication mécanique, fournissant des pièces pour divers secteurs, y compris l'automobile, le ferroviaire, l'aéronautique,
      la médicale, l'agro-alimentaire et la mécanique générale.
    </p>
    <p>Le soutien inébranlable du roi Mohammed VI du Maroc au domaine de la fabrication mécanique constitue une pierre angulaire du développement industriel du pays.
      Sous son règne, le Maroc a fait d'importants investissements visant à renforcer l'industrie manufacturière, en particulier dans la production de pièces
      destinées à des secteurs stratégiques.
    </p>
    <p> Ce soutien royal s'est manifesté à travers diverses initiatives et politiques visant à stimuler la croissance de l'industrie de la fabrication mécanique.
      Parmi les mesures prises figurent la création de zones industrielles spécialisées, l'octroi d'incitations fiscales et financières aux entreprises du secteur,
      ainsi que la promotion de la formation professionnelle pour garantir une main-d'œuvre qualifiée et compétente.
    </p>
    <p>De plus, le Maroc a établi des partenariats solides avec des entreprises nationales et internationales dans ces secteurs clés, renforçant ainsi
      sa position en tant que plateforme de production et de distribution pour ces pièces de haute technologie.</p>
    <p>Sa Majesté a pris des mesures significatives pour faciliter le développement de l'industrie de la fabrication mécanique au Maroc, notamment en favorisant
      l'accès aux technologies de pointe, en promouvant la formation spécialisée, et en mettant en place des incitations financières pour encourager
      les investissements dans ce domaine. Ces actions visent à stimuler l'innovation, à créer des emplois et à renforcer la compétitivité internationale
      de l'industrie manufacturière marocaine.</p>
    <p>En seulement vingt ans, l'industrie aéronautique au Maroc est devenue le principal exportateur de matériel et de composants aéronautiques en Afrique,
      surpassant même l'Afrique du Sud, ce qui illustre sa réussite remarquable.</p>

    <p>MPER MAROC incarne la vision du roi Mohammed VI pour une industrie de la fabrication mécanique moderne et dynamique, capable de répondre
      aux besoins des secteurs clés du pays. Le soutien royal est un catalyseur essentiel pour l'essor de cette industrie stratégique et témoigne de l'engagement
      indéfectible du Maroc envers son développement économique et industriel.
    </p>
  </div>
  <div *ngIf="selectedTabIndex == 1" class="equipe-section">
    <h4 class="font-din-exp text-bold">L'humain comme capital</h4>
    <p>
      MPER MAROC est avant tout une entreprise humaine. Compétence, professionnalisme, rigueur, et relation client sont
      les valeurs internes profondes et partagées au sein de notre société.
    </p>
    <p>
      MPER MAROC dispose d’un service commercial, d’un bureau d’études performant dans la conception et le suivi de
      projets, d’un atelier composé de fabricants hautement qualifiés.
    </p>
    <div class="py-4">
      <app-equipe-card
        cardTitle="Administration"
        paragraph1="Notre société est composée de toute une équipe d’hommes et de femmes passionnés par leur métier qui vous
    conseille et vous accompagne tout au long de votre projet."
        paragraph2="Nos chargés d’affaires, maîtrisant les évolutions des produits et des innovations du marché, ainsi que les
    techniciens de notre bureau d’étude interne, s’assurent du bon déroulement de votre commande."
      >
      </app-equipe-card>
      <img appAnimationHoverEffect class="img-fluid my-5" src="../../../assets/MPER_IMAGE/societe/03_equipe/_0040_ddd.png">

    </div>
    <div class="row justify-content-between">
      <div class="col-lg-5 col-md-12">
        <app-equipe-card
          cardTitle="Atelier"
          paragraph1="Au-delà de l’utilisation de matériaux robustes et de produits de haute technicité, ce sont les compétences et expériences des
           hommes de notre atelier, des menuisiers fabricants hautement qualifiés, qui nous permettent de proposer à nos clients des pièces uniques
            et d’une excellente fiabilité.">
        </app-equipe-card>
      </div>
      <div class="col-lg-6 col-md-12">

        <img appAnimationHoverEffect  style="max-width: 447px;width: 100%" class="py-4"    src="../../../assets/MPER_IMAGE/societe/03_equipe/_0039_Calque-1.png">
      </div>
      <!-- --------------- sous la demande du client -------------
      <div class="col-lg-6 col-md-12">
        <div style="margin-bottom: 83px">
          <app-equipe-card
            cardTitle="Direction"
            paragraph1="Monsieur SAMIR EL BAGHDADI, dispose d’une expérience de plus de 20 ans dans le domaine.">
          </app-equipe-card>
        </div>
        <img style=" max-width: 447px;width: 100%" class="py-4"src="../../../assets/MPER_IMAGE/societe/03_equipe/_0038_Calque-2.png">
      </div>-->

    </div>
  </div>
  <div *ngIf="selectedTabIndex == 2" class="expertises-section">
    <h3>5 savoir-faire - 1 qualité de précision</h3>
    <p>L’activité de MAM s’articule autour de 5 savoir-faire complémentaires dans le domaine de la mécanique de
      précision :</p>
    <div class="my-5">
      <div class="expertises-card">
        Le fraisage
      </div>
      <div class="expertises-card">
        Le tournage
      </div>
      <div class="expertises-card">
        Le montage & l'assemblage
      </div>
      <div class="expertises-card">
        Le contrôle
      </div>
      <div class="expertises-card">
        L’outillage & le prototypage
      </div>
    </div>
    <p>Ces champs d’expertise permettent à l’entreprise de répondre à une amplitude de commandes allant de la pièce
      mécanique aux prototypes et des pièces unitaires aux petites et grandes séries.</p>
    <p>MAM s’engage dans chacune de ses productions à proposer des pièces aux finitions précises, travaillées au micron
      près.</p>
  </div>
</div>
<!-- ------------------ sous la demande du client -----------
<div class="my-5" style="margin-top: 50px!important;">
  <app-mper-header titleDark="Notre charte" titleLight="Qualité"></app-mper-header>
</div>

<div class="container my-5" style="margin-top: 100px!important;">
  <div class="row align-self-center">
    <div class="col-lg-3 col-md-6 col-sm-12 p-2">
      <div class="quality-chart-card">
        <h3 class="main-title font-din-exp"> < 1000 PPM </h3>
        <h5 class="sub-title">D'OQD</h5>
        <span class="light-text ">*Sur livraison de qualité.</span>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 p-2">
      <div class="quality-chart-card">
        <h3 class="main-title font-din-exp"> 600 </h3>
        <h5 class="sub-title">M2</h5>
        <span class="light-text ">dédiés à la production.</span>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 p-2">
      <div class="quality-chart-card">
        <h3 class="main-title font-din-exp"> 98% </h3>
        <h5 class="sub-title">D'OTD</h5>
        <span class="light-text ">*Délais de livraison respectés.</span>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 p-2">
      <div class="quality-chart-card">
        <h3 class="main-title font-din-exp"> + 60 </h3>
        <h5 class="sub-title">clients</h5>
        <span class="light-text ">au Maroc et à l'étranger.</span>
      </div>
    </div>
  </div>
</div>-->
<div class="container my-4" style="margin-top: 50px!important;">
  <app-mper-header titleDark="RELATION" titleLight="Client" subTitle="Fiablibité, réactivité et transparence."
                   [italic]="true"></app-mper-header>
  <h5 class="reaction-text">
    La passion et le savoir-faire de nos équipes est au cœur de la conception de nos systèmes aluminium, pensés toujours
    plus performants et évolutifs pour pouvoir répondre aux plus grands nombres d’applications. Plus que des produits,
    nous offrons des solutions et des services basés sur l’accompagnement, le partage et la confiance.
  </h5>
  <div class="row align-self-center">
    <div class="col-md-6 col-sm-12 p-5">
      <img appAnimationHoverEffect class="img-fluid" src="../../../assets/MPER_IMAGE/societe/04_relation_client/_0043_Relation-Client.png">
    </div>
    <div class="col-md-6 col-sm-12 pt-5">
      <div class="row align-self-center pt-5">
        <div class="col-6 quality-tag">
          <img class="mper-logo" src="./assets/MPER_IMAGE/societe/logo/logo_svg_2.svg">
          <h5 class="text-bold">Profesionnalisme</h5>
        </div>
        <div class="col-6 quality-tag">
          <img class="mper-logo" src="./assets/MPER_IMAGE/societe/logo/logo_svg_2.svg">
          <h5 class="text-bold">Authenticité</h5>
        </div>
        <div class="col-6 quality-tag">
          <img class="mper-logo" src="./assets/MPER_IMAGE/societe/logo/logo_svg_2.svg">
          <h5 class="text-bold">Engagement</h5>
        </div>
        <div class="col-6 quality-tag">
          <img class="mper-logo" src="./assets/MPER_IMAGE/societe/logo/logo_svg_2.svg">
          <h5 class="text-bold">Fiabilité</h5>
        </div>
        <div class="col-6 quality-tag">
          <img class="mper-logo" src="./assets/MPER_IMAGE/societe/logo/logo_svg_2.svg">
          <h5 class="text-bold">Accessible</h5>
        </div>
        <div class="col-6 quality-tag">
          <img class="mper-logo" src="./assets/MPER_IMAGE/societe/logo/logo_svg_2.svg">
          <h5 class="text-bold">Economique</h5>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="container my-4 " style="margin-top: 50px!important;">
  <div class="steps-section">
    <div class="row justify-content-between">
      <div class="col-lg-5 col-md-12 step-card">
        <span class="step-number" style="color: var(--var-bg-dark-blue-color);"><div class="title-style"
                                                                                     style="background: var(--var-bg-dark-blue-color);"></div> 1</span>
        <h3 class="step-title" style="color: var(--var-bg-dark-blue-color);">
          Achats & Approvisionnements
        </h3>
        <p class="step-content mb-5">
          Adaptabilité aux exigences clients
          <br>
          Autonomie complète sur les process non normés
          <br>
          Indicateur de performance des fournisseurs
          <br>
          Charte société sur les Instructions Générales d'Achats
        </p>
      </div>
      <div class="col-lg-4 col-md-12 step-card mt-5">
        <span class="step-number" style="color: var(--var-cyan-text-color);"><div class="title-style"
                                                                                  style="background: var(--var-cyan-text-color);"></div> 2</span>
        <h3 class="step-title" style="color: var(--var-cyan-text-color);">
          Production
        </h3>
        <p class="step-content ml-2 mb-5">
          5 savoir-faire complémentaires
          <br>
          Réactivité et performance (OTD & OQD)
          <br>
          Développement des outils de production
          <br>
          Amélioration continue
        </p>
      </div>
      <div class="col-lg-5 col-md-12 step-card">
        <span class="step-number" style="color: var(--var-purpule-color);"><div class="title-style"
                                                                                style="background: var(--var-purpule-color);"></div> 3</span>
        <h3 class="step-title" style="color: var(--var-purpule-color);">
          Contrôle
        </h3>
        <p class="step-content mb-5">
          Vérification de la conformité aux plans et aux exigences fixées
          <br>
          Points de contrôle cadrés
          <br>
          Culture de la confidentialité
          <br>
          Protection des données
        </p>
      </div>
      <div class="col-lg-4 col-md-12 step-card my-5">
        <span class="step-number" style="color: var(--var-grey-color);"><div class="title-style"
                                                                             style="background: var(--var-grey-color);"></div> 4</span>
        <h3 class="step-title" style="color: var(--var-grey-color);">
          Suivi
        </h3>
        <p class="step-content ml-2 mb-5">
          Traçabilité totale des produits et protocoles
          <br>
          Transparence et honnêteté vis-à-vis des clients
          <br>
          Flexibilité et réactivité
        </p>
      </div>
    </div>
  </div>
</div>
<div class="expert-matiere-section">
  <div class="container">
    <div class="expert-matiere-tabs">
      <div [ngClass]="footerSelectedTabIndex == 0 ? 'footer-tab footer-tab-active': 'footer-tab'"
           (click)="onChangeFooterTab(0)">contrôle Qualité
      </div>
      <div [ngClass]="footerSelectedTabIndex == 1 ? 'footer-tab footer-tab-active': 'footer-tab'"
           (click)="onChangeFooterTab(1)">Matiéres Usinées
      </div>
    </div>
    <div *ngIf="footerSelectedTabIndex == 0" class="row justify-content-between mb-5">
      <div class="col-lg-5 col-md-12">
        <img appAnimationHoverEffect class="img-fluid"
             src="../../../assets/MPER_IMAGE/societe/05_controle_qualite/_0041_Contrôle-Qualité.png">
      </div>
      <div class="col-lg-7 col-md-12 expert-card">
        <h3 class="main-title font-lato p-3">MAITRISE & EXIGENCE</h3>
        <p class="p-3">
          Dans un souci permanent de satisfaction client et dans l'optique de toujours progresser en corrélation avec
          les évolutions du marché, MPERMAROC ne cesse d'élever son niveau d'exigence.
        </p>
        <p class="p-3">
          C'est à travers le développement de multiples démarches d'améliorations continues sur les aspects qualité et
          sécurité que MAM est en mesure de maintenir un niveau de qualité élevé et garantir des prestations optimales.
        </p>
        <p class="p-3">Un haut niveau de qualité qui se reflète dans les relations durables et de confiance qui se sont
          tissées avec ses différents partenaires.</p>
      </div>
    </div>
    <div *ngIf="footerSelectedTabIndex == 1" class="row justify-content-between">
      <div class="col-lg-5 col-md-12">
        <img appAnimationHoverEffect class="img-fluid" src="../../../assets/MPER_IMAGE/societe/06_matiere_usinees/_0042_Matières-Usinées.png">
      </div>
      <div class="col-lg-7 col-md-12 expert-card">
        <h3 class="main-title font-lato p-3">EXPERTS EN LA MATIÈRE</h3>
        <p class="p-3">
          Légèreté, robustesse, thermique, dureté : le choix de la matière va varier en fonction des attentes.
        </p>
        <p class="p-3">
          Dans cette optique, Mpermaroc est à même de proposer une diversité dans les matériaux de production afin de
          répondre aux besoins spécifiques de chacun de ses clients.
        </p>
        <div class="tags my-4">
          <ul>
            <li class="mr-4 p-3"><img
              src="./assets/MPER_IMAGE/societe/logo/logo_white.svg"
              class="mper-logo">
              ACIERS ET ACIERS THR
            </li>
            <li class="mr-4 p-3"><img
              src="./assets/MPER_IMAGE/societe/logo/logo_white.svg"
              class="mper-logo">
              ALLIAGES ALUMINIUM
            </li>
            <li class="mr-4 p-3"><img
              src="./assets/MPER_IMAGE/societe/logo/logo_white.svg"
              class="mper-logo">
              TITANE
            </li>
            <li class="mr-4 p-3"><img
              src="./assets/MPER_IMAGE/societe/logo/logo_white.svg"
              class="mper-logo">
              ALLIAGES BRONZE
            </li>
            <li class="mr-4 p-3"><img
              src="./assets/MPER_IMAGE/societe/logo/logo_white.svg"
              class="mper-logo">
              INCONEL
            </li>
            <li class="mr-4 p-3"><img
              src="./assets/MPER_IMAGE/societe/logo/logo_white.svg"
              class="mper-logo">
              MATIÈRES PLASTIQUES
            </li>
            <li class="mr-4 p-3"><img
              src="./assets/MPER_IMAGE/societe/logo/logo_white.svg"
              class="mper-logo">
              INOX
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <img class="img-fluid-1"
       src="./assets/MPER_IMAGE/commun/MOTIF_BACKGROUND/motif-background_0002_04-3-copie.gif">
  <img class="img-fluid-2"
       src="./assets/MPER_IMAGE/commun/MOTIF_BACKGROUND/motif-background_0002_04-3-copie.gif">
  <img class="img-fluid-3"
       src="./assets/MPER_IMAGE/commun/MOTIF_BACKGROUND/motif-background_0000_4s-min-3.png">
  <img class="img-fluid-4"
       src="./assets/MPER_IMAGE/commun/MOTIF_BACKGROUND/motif-background_0005_10-3.png">
  <img class="img-fluid-5"
       src="./assets/MPER_IMAGE/commun/MOTIF_BACKGROUND/motif-background_0003_10-3-copie.png">
  <img class="img-fluid-6"
       src="./assets/MPER_IMAGE/commun/MOTIF_BACKGROUND/motif-background_0001_3s-min-3.png">
</div>
