<app-mper-banner
  title="Savoir faire"
  titleSub="Accueil / Savoir faire"
  urlImg="../../../assets/images/bg-Automobile.png">
</app-mper-banner>
<!--activity-section-->
<div class="bg-page">
  <app-savoir-faire></app-savoir-faire>
  <img class="img-fluid-1"
       src="./assets/images/MOTIF%20BACKGROUND/motif-background_0002_04-3-copie.png">
  <img class="img-fluid-2"
       src="./assets/images/MOTIF%20BACKGROUND/motif-background_0002_04-3-copie.png">
  <img class="img-fluid-3"
       src="./assets/images/MOTIF%20BACKGROUND/motif-background_0000_4s-min-3.png">

</div>
