<app-mper-banner
  title="Agro-alimentaire"
  titleSub="Accueil / Secteurs d’Activités / Agro-alimentaire"
  urlImg="../../../assets/MPER_IMAGE/secteur_activite_Agro-alimentaire/01_head/bg-medical.png">
</app-mper-banner>
<!--activity-section-->
<div class="bg-page">
  <div class="container">

    <app-mper-header titleLight="AGRO-ALIMENTAIRE"> </app-mper-header>

    <div class="card-section">
      <div class="row">
        <div class="img-col-1 col-md-5 col-sm-12">
          <img class="img-fluid" width="300"
               src="./assets/MPER_IMAGE/secteur_activite_Agro-alimentaire/02_agro_alimentaire/Agro%20couleur.svg">
          <h3 class="text-img">Agro-alimentaire</h3>
        </div>
        <div class="col-md-7 col-sm-12">
          <img class="img-fluid" src="./assets/MPER_IMAGE/secteur_activite_Agro-alimentaire/02_agro_alimentaire/_0025_Calque-32-copie.png">
        </div>
      </div>
    </div>
    <p class="description">
      Depuis de nombreuses années, nous travaillons en sous-traitance pour de grands acteurs de l’industrie agro-alimentaire. Aujourd’hui,
      nos produits équipent tous types de machines et équipements chez nos clients & partenaires.
      <br>
      <br>
      Grâce à cette diversité de besoins, nos équipes de tournage et de fraisage sont constamment challengées et sont capables de répondre à
      tout type de demandes et d’exigences.
      <br>
      <br>
      Cela nous permet d’accompagner nos clients et partenaires sur un grand nombre de projets, leur garantissant ainsi la qualité caractéristique
      des pièces que nous proposons pour venir compléter ou améliorer leurs équipements.
    </p>

    <br>
        <br>
        <br>

        <app-mper-header titleLight="DÉVELOPPEMENTS ET RÉALISATIONS"> </app-mper-header>

        <div class="row card-section" style="justify-content: center;">
          <div class="col-lg-3 col-md-4 col-sm-6  p-4">
            <div class="activity-card">
              <img class="img-fluid"
                   src="./assets/MPER_IMAGE/secteur_activite_Agro-alimentaire/03_develop_realisation/_0010_Capture-d’écran-2022-12-22-à-00.47.59-min.png">
            </div>
            <div class="text-blue-realisatio"> Guignol équipé </div>
            <div class="text-realisatio"> aluminium et bronze</div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6  p-4">
            <div class="activity-card">
              <img class="img-fluid"
                   src="./assets/MPER_IMAGE/secteur_activite_Agro-alimentaire/03_develop_realisation/_0011_Capture-d’écran-2022-12-22-à-00.48.45-min.png">
            </div>
            <div class="text-blue-realisatio"> écran train d'Atterrissage </div>
            <div class="text-realisatio">  Acier traité</div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6  p-4">
            <div class="activity-card">
              <img class="img-fluid"
                   src="./assets/MPER_IMAGE/secteur_activite_Agro-alimentaire/03_develop_realisation/_0012_Capture-d’écran-2022-12-22-à-00.48.26-min.png">
            </div>
            <div class="text-blue-realisatio"> Piston Rilsanisé </div>
            <div class="text-realisatio">  aluminium</div>
          </div>
        </div>

      </div>

    <br>
    <br>
    <br>
    <app-secteurs-activites [hiddenHeader]="true" [carousel]="true"
                            title="Autres Secteurs d’activités"
                            colClass="col-lg-3 col-md-4 col-sm-6"></app-secteurs-activites>
    <img class="img-fluid-1"
         src="./assets/images/MOTIF%20BACKGROUND/motif-background_0002_04-3-copie.png">
    <img class="img-fluid-2"
         src="./assets/images/MOTIF%20BACKGROUND/motif-background_0002_04-3-copie.png">
    <img class="img-fluid-3"
         src="./assets/images/MOTIF%20BACKGROUND/motif-background_0000_4s-min-3.png">

  </div>
