<app-mper-banner
  title="Automobile"
  titleSub="Accueil / Secteurs d’Activités / Automobile"
  urlImg="../../../assets/images/bg-Automobile.png">
</app-mper-banner>
<!--activity-section-->
<div class="bg-page">
<div class="container">

  <app-mper-header titleLight="Automobile"> </app-mper-header>

  <div class="card-section">
    <div class="row">
      <div class="img-col-1 col-md-5 col-sm-12">
        <img class="img-fluid" width="300"
             src="./assets/MPER_IMAGE/secteur_activite_automobile/02_automobile/voiture couleur.svg">
        <h3 class="text-img">Automobile</h3>
      </div>
      <div class="col-md-7 col-sm-12">
        <img class="img-fluid" src="./assets/MPER_IMAGE/secteur_activite_automobile/02_automobile/_0029_Calque-32-copie.png">
      </div>
    </div>
  </div>
  <p class="description">
      La production automobile reprennent en 2022 avec trois chiffres clés: un taux d’intégration de 64%;
      le Maroc est devenu le premier fournisseur non européen de voiture au sein de l’UE; l’objectif de 100 milliards d’exportation d’automobile devrait être attient d’ici la fin de l’année et 200 milliards en 2025.
  </p>

  <br>

  <div class="card-section">
    <p class="card-title">Technologies d'usinage de Mper Maroc</p>
    <div class="row" style="margin-left: 10px;">
      <div class="col-md-7 col-sm-12">
        <div class="mper-item">
          <img src="./assets/images/logo%20+%20icon%20logo/logo%20svg%202.svg">
          <span class="dark-title">
            électro-érosion à fil dans l’huile et dans l’eau électro-érosio
          </span>
        </div>
        <div class="mper-item">
          <img src="./assets/images/logo%20+%20icon%20logo/logo%20svg%202.svg">
          <span class="dark-title">
           électro-érosion à fil par enfonçage
          </span>
        </div>
        <div class="mper-item">
          <img src="./assets/images/logo%20+%20icon%20logo/logo%20svg%202.svg">
          <span class="dark-title">
            micro-perçage
          </span>
        </div>
        <div class="mper-item">
          <img src="./assets/images/logo%20+%20icon%20logo/logo%20svg%202.svg">
          <span class="dark-title">
           fraisage UGV (3 et 5 axes)
          </span>
        </div>
        <div class="mper-item">
          <img src="./assets/images/logo%20+%20icon%20logo/logo%20svg%202.svg">
          <span class="dark-title">
            tournage CN
          </span>
        </div>
        <div class="mper-item">
          <img src="./assets/images/logo%20+%20icon%20logo/logo%20svg%202.svg">
          <span class="dark-title">
            fraisage CN
          </span>
        </div>
      </div>
      <div class="col-md-5 col-sm-12">
        <div class="mper-item">
          <img src="./assets/images/logo%20+%20icon%20logo/logo%20svg%202.svg">
          <span class="dark-title">
            rectification plane
          </span>
        </div>
        <div class="mper-item">
          <img src="./assets/images/logo%20+%20icon%20logo/logo%20svg%202.svg">
          <span class="dark-title">
            rectification cylindrique
          </span>
        </div>
        <div class="mper-item">
          <img src="./assets/images/logo%20+%20icon%20logo/logo%20svg%202.svg">
          <span class="dark-title">
            marquage laser
          </span>
        </div>
        <div class="mper-item">
          <img src="./assets/images/logo%20+%20icon%20logo/logo%20svg%202.svg">
          <span class="dark-title">
            passivation
          </span>
        </div>
        <div class="mper-item">
          <img src="./assets/images/logo%20+%20icon%20logo/logo%20svg%202.svg">
          <span class="dark-title">
            polissage et tribofinition
          </span>
        </div>
        <div class="mper-item">
          <img src="./assets/images/logo%20+%20icon%20logo/logo%20svg%202.svg">
          <span class="dark-title">
           contrôle qualité et métrologie
          </span>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>

  <app-mper-header titleLight="DÉVELOPPEMENTS ET RÉALISATIONS"> </app-mper-header>

  <div class="row card-section" style="justify-content: center;">
    <div class="col-lg-3 col-md-4 col-sm-6 p-4">
      <div class="activity-card">
        <img class="img-fluid"
             src="./assets/MPER_IMAGE/secteur_activite_automobile/03_develop_realisation/_0035_Calque-41-copie-min.png">
      </div>
      <div class="text-realisatio"> Attache de voiture</div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 p-4">
      <div class="activity-card">
        <img class="img-fluid"
             src="./assets/MPER_IMAGE/secteur_activite_automobile/03_develop_realisation/_0036_Calque-5-min.png">
      </div>
      <div class="text-realisatio"> Attache de voiture</div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 p-4">
      <div class="activity-card">
        <img class="img-fluid"
             src="./assets/MPER_IMAGE/secteur_activite_automobile/03_develop_realisation/_0037_Calque-4-min.png">
      </div>
      <div class="text-realisatio"> Attache de voiture</div>
    </div>
  </div>

</div>
  <br>
  <br>
  <br>
  <app-secteurs-activites [hiddenHeader]="true" [carousel]="true"
                          title="Autres Secteurs d’activités"
                          colClass="col-lg-3 col-md-4 col-sm-6"></app-secteurs-activites>
  <img class="img-fluid-1"
       src="./assets/images/MOTIF%20BACKGROUND/motif-background_0002_04-3-copie.png">
  <img class="img-fluid-2"
       src="./assets/images/MOTIF%20BACKGROUND/motif-background_0002_04-3-copie.png">
  <img class="img-fluid-3"
       src="./assets/images/MOTIF%20BACKGROUND/motif-background_0000_4s-min-3.png">

</div>
