<app-mper-banner
  title="Savoir-faire"
  titleSub="Accueil / Savoir-faire / Contrôle"
  urlImg="../assets/MPER_IMAGE/savoir_faire/01_head/bg.png">
</app-mper-banner>

<!--activity-section-->
<div class="bg-page">
<!-- Contrôle -->
<div class="container">
  <app-mper-header titleDark="Contrôle"></app-mper-header>
  <div class="societe-section">
    <div class="row align-self-center">
      <div [ngClass]="selectedTabIndex == 0 ? 'presentation-card-active' : ''" class="col-md-4 col-sm-12 my-3 presentation-card" (click)="onChangeTab(0)">
        <h5 style="color: var(--var-dark-blue-text-color)" class="font-lato text-bold">Notre Expertise</h5>
      </div>
      <div [ngClass]="selectedTabIndex == 1 ? 'presentation-card-active' : ''" class="col-md-4 col-sm-12 my-3 presentation-card" (click)="onChangeTab(1)">
        <h5 class="font-lato text-bold">Notre parc Machine</h5>
      </div>
      <div [ngClass]="selectedTabIndex == 2 ? 'presentation-card-active' : ''" class="col-md-4 col-sm-12 my-3 presentation-card" (click)="onChangeTab(2)">
        <h5 style="color: var(--var-dark-blue-text-color)" class="font-lato text-bold">Nos pièces</h5>
      </div>
    </div>
    <div *ngIf="selectedTabIndex == 0" class="row align-self-center mt-5">
      <div class="col-md-6 col-sm-12">
        <img class="img-fluid" src="./assets/MPER_IMAGE/savoir_faire/02_main/_0002_Calque-16.png">
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="description">
          <h5><b>MPER MAROC</b> est un nouveau projet spécialisé dans la fabrication mécanique avec des machines à
            commandes numérique, ce projet est destiné à la sous-traitance rang 1 et 2 pour les secteurs
            les plus stratégiques de l’industrie marocaine tel l'aéronautique, l'automobile, ferroviaire et médicale
            ....</h5>
          <h5>
            Afin d’accroître notre activité, nous souhaitons disposé des machines qui ont pour objet la fabrication des
            pièces mécanique.
          </h5>
        </div>
      </div>
    </div>
    <div *ngIf="selectedTabIndex == 1" class="row align-self-center mt-5">
      <div class="col-md-6 col-sm-12">
        <img class="img-fluid" src="./assets/MPER_IMAGE/savoir_faire/02_main/_0002_Calque-16.png">
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="description">
          <h5><b>MPER MMAROC</b> est un nouveau projet spécialisé dans la fabrication mécanique avec des machines à
            commandes numérique, ce projet est destiné à la sous-traitance rang 1 et 2 pour les secteurs
            les plus stratégiques de l’industrie marocaine tel l'aéronautique, l'automobile, ferroviaire et médicale
            ....</h5>
          <h5>
            Afin d’accroître notre activité, nous souhaitons disposé des machines qui ont pour objet la fabrication des
            pièces mécanique.
          </h5>
        </div>
      </div>
    </div>
    <div *ngIf="selectedTabIndex == 2" class="row align-self-center mt-5">
      <div class="col-md-6 col-sm-12">
        <img class="img-fluid" src="./assets/MPER_IMAGE/savoir_faire/02_main/_0002_Calque-16.png">
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="description">
          <h5><b>MPER MMMAROC</b> est un nouveau projet spécialisé dans la fabrication mécanique avec des machines à
            commandes numérique, ce projet est destiné à la sous-traitance rang 1 et 2 pour les secteurs
            les plus stratégiques de l’industrie marocaine tel l'aéronautique, l'automobile, ferroviaire et médicale
            ....</h5>
          <h5>
            Afin d’accroître notre activité, nous souhaitons disposé des machines qui ont pour objet la fabrication des
            pièces mécanique.
          </h5>
        </div>
      </div>
    </div>
  </div>

</div>


  <!-- Nos certification & homologations -->
  <div class="container">
    <app-mper-header titleDark="Nos certification & homologations"></app-mper-header>
    <div class="socsection mb-5">
      <div class="row justify-content-center">
        <div class="col-md-2 col-sm-12 row m-3 justify-content-center">
          <img class="img-fluid " style="max-height: 100px;" src="./assets/MPER_IMAGE/savoir_faire/03_certification&homologations/afaq-2.svg">
        </div>
        <div class="col-md-2 col-sm-12 row m-3 justify-content-center">
          <img class="img-fluid " style="max-height: 100px;"src="./assets/MPER_IMAGE/savoir_faire/03_certification&homologations/afaq-1.svg">
        </div>
        <div class="col-md-3 col-sm-12 row m-3 justify-content-center">
          <img class="img-fluid " style="max-height: 100px; "src="./assets/MPER_IMAGE/savoir_faire/03_certification&homologations/saddault-aviation.svg">
        </div>
        <div class="col-md-3 col-sm-12 row m-3 justify-content-center">
          <img class="img-fluid " style="max-height: 100px;" src="./assets/MPER_IMAGE/savoir_faire/03_certification&homologations/safran.svg">
        </div>
      </div>
    </div>
  </div>

    <div class="my-5">
      <app-mper-header titleDark="Notre charte" titleLight="Qualité"></app-mper-header>
    </div>
    <div class="custom-container my-5">
      <div class="row align-self-center">
        <div class="col-lg-3 col-md-6 col-sm-12 p-2">
          <div class="quality-chart-card">
            <h3 class="main-title font-din-exp"> < 1000 PPM </h3>
            <h5 class="sub-title">D'OQD</h5>
            <span class="light-text ">*Sur livraison de qualité.</span>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 p-2">
          <div class="quality-chart-card">
            <h3 class="main-title font-din-exp"> 600 </h3>
            <h5 class="sub-title">M2</h5>
            <span class="light-text ">dédiés à la production.</span>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 p-2">
          <div class="quality-chart-card">
            <h3 class="main-title font-din-exp"> 98% </h3>
            <h5 class="sub-title">D'OTD</h5>
            <span class="light-text ">*Délais de livraison respectés.</span>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 p-2">
          <div class="quality-chart-card">
            <h3 class="main-title font-din-exp"> + 60 </h3>
            <h5 class="sub-title">clients</h5>
            <span class="light-text ">au Maroc et à l'étranger.</span>
          </div>
        </div>
      </div>
    </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 m-5" style="text-align:center;">
        <p-button label="decourvir la societe"></p-button>
      </div>
    </div>

  <!--<div class="empty-space"></div>-->
 <img class="img-fluid-1"
         src="./assets/images/MOTIF%20BACKGROUND/motif-background_0002_04-3-copie.png">
    <img class="img-fluid-2"
         src="./assets/images/MOTIF%20BACKGROUND/motif-background_0003_10-3-copie.png">
    <img class="img-fluid-3"
         src="./assets/images/MOTIF%20BACKGROUND/motif-background_0000_4s-min-3.png">
<!--    <img class="img-fluid-4"-->
<!--         src="./assets/images/MOTIF%20BACKGROUND/motif-background_0005_10-3.png">-->
    <img class="img-fluid-5"
         src="./assets/images/MOTIF%20BACKGROUND/motif-background_0002_04-3-copie.png">

  </div>
  <br>
  <br>
  <br>
</div>
  <app-savoir-faire [hiddenHeader]="true"
                    [background]="true"
                    title="Nos Savoir-Faire"
                    colClass="col-lg-3 col-md-4 col-sm-6"></app-savoir-faire>
