<app-mper-banner
  title="Parc-machines"
  titleSub="Accueil / Parc-machines"
  urlImg="../assets/MPER_IMAGE/savoir_faire/01_head/bg.png">
</app-mper-banner>


<!-- Contrôle -->
<div class="container">
  <app-mper-header titleDark="Contrôle"></app-mper-header>
  <div class="societe-section">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <img class="img-fluid" src="./assets/MPER_IMAGE/savoir_faire/02_main/_0002_Calque-16.png">
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="description">
          <h5><b>MPER MAROC</b> est un nouveau projet spécialisé dans la fabrication mécanique avec des machines à
            commandes numérique, ce projet est destiné à la sous-traitance rang 1 et 2 pour les secteurs
            les plus stratégiques de l’industrie marocaine tel l'aéronautique, l'automobile, ferroviaire et médicale
            ....</h5>
          <h5>
            Afin d’accroître notre activité, nous souhaitons disposé des machines qui ont pour objet la fabrication des
            pièces mécanique.
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Nos certification & homologations -->
<div class="container">
  <app-mper-header titleDark="Nos certification & homologations"></app-mper-header>
  <div class="socsection">
    <div class="row">
      <div class="col-md-3 col-sm-12">
        <img class="img-fluid " style="max-height: 100px;" src="./assets/MPER_IMAGE/savoir_faire/03_certification&homologations/afaq-2.svg">
      </div>
      <div class="col-md-3 col-sm-12">
        <img class="img-fluid " style="max-height: 100px;"src="./assets/MPER_IMAGE/savoir_faire/03_certification&homologations/afaq-1.svg">
      </div>
      <div class="col-md-3 col-sm-12">
        <img class="img-fluid " style="max-height: 100px; "src="./assets/MPER_IMAGE/savoir_faire/03_certification&homologations/saddault-aviation.svg">
      </div>
      <div class="col-md-3 col-sm-12">
        <img class="img-fluid " style="max-height: 100px;" src="./assets/MPER_IMAGE/savoir_faire/03_certification&homologations/safran.svg">
      </div>
    </div>
  </div>
</div>


<!--<div class="empty-space"></div>-->
