
<app-header-title-section
  title="Secteurs d’Activités"
  titleSub="Accueil / Secteurs d’Activités"
  urlImg="../../../assets/images/bg-Automobile.png">
</app-header-title-section>
<!--activity-section-->
<div class="bg-page">
<app-secteurs-activites></app-secteurs-activites>
  <img class="img-fluid-1"
       src="./assets/images/MOTIF%20BACKGROUND/motif-background_0002_04-3-copie.png">
  <img class="img-fluid-2"
       src="./assets/images/MOTIF%20BACKGROUND/motif-background_0002_04-3-copie.png">
  <img class="img-fluid-3"
       src="./assets/images/MOTIF%20BACKGROUND/motif-background_0000_4s-min-3.png">

</div>
