.bg-page{
  position: relative;
  .img-fluid-1{
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
    z-index: -1;
    float: right;
    object-position: 226px 0px;
  }
  .img-fluid-2{
    position: absolute;
    bottom: -123px;
    right: 35%;
    width: 400px;
    z-index: -1;
    float: right;
    object-position: 0 293px;
  }
  .img-fluid-3{
    position: absolute;
    top: 230px;
    left: 0;
    width: 500px;
    z-index: -1;
    float: right;
    object-position: -233px 0px;
  }
}
