/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import "primeicons/primeicons.css";

:root{
  /*text-colors */
  --var-white-text-color: #FFF;
  --var-dark-blue-text-color: #08222F;
  --var--blue-text-color: #089BE4;
  --var-cyan-text-color: #15AFE2;
  --var-light-green-text-color: rgba(0,225,184,1);

  /* background-colors */
  --var-bg-transparent-color: transparent;
  --var-bg-dark-blue-color: #005D9E;
  --var-bg-cyan-blue-color: #009CED;
  --var-bg-white-color: #FFF;
  --var-bg-grey-blue-color: rgba(158, 195, 224, 0.58);
  --var-bg-marine-blue-color: #08222F;

  /* background-gradient-colors */
  --var-bg-gradient-blue-color: linear-gradient(215deg, rgba(25,76,129,1) 33%, rgba(0,156,237,1) 63%);
  --var-bg-gradient-green-color: linear-gradient(215deg, rgba(25,76,129,1) 0%, rgba(0,225,184,1) 100%);
}

.inline-content{
  display: inline-block;
}

*{
  font-family:  'Lato', sans-serif;
  padding: 0;
  margin: 0;
}


.btn{
  padding: 15px 30px;
  border: none;
  position: relative;
  letter-spacing: 1px;
  overflow: hidden;
}

.btn::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 25px 20px 0; /* Adjust these values to control the size of the missing corner */
  border-color: transparent transparent var(--var-bg-dark-blue-color) transparent; /* Match the button's background color */
}

.text-bold{
  font-weight: 700;
}


.mper-header{
  text-align: center;
  margin: auto;
  font-size: 22px;
  margin-bottom: 50px;
  font-weight: 900;

  .pi{
    margin-right: 10px;
    font-size: 30px;
    font-weight: 800;
  }

  .light-title{
    color: var(--var-cyan-text-color);
    text-transform: uppercase;
    display: inline-block;
  }

  .dark-title{
    color: var(--var-dark-blue-text-color);
    text-transform: uppercase;
    display: inline-block;
    margin-right: 6px;
  }
}

.mper-sub-header{
  text-align: center;
  margin-bottom: 50px;
  h4{
    color: var(--var-dark-blue-text-color);
    font-size: 22px;
  }
}


.dark-blue-overlay{
  width: 100%;
  height: 100%;
  background: rgba(2, 65, 103, 0.76);
  text-align: center;
  color: var(--var-white-text-color);
}

