<div class="container">
  <div fxLayout="row" fxLayoutAlign="space-around center" >
    <div fxFlex="30">
      <img class="logo inline-content" src="./assets/img/logo.png" alt="logo">
    </div>
    <div fxFlex="70">
      <div class="navbar-menu inline-content">
        <ul class="menu-nav inline-content">
          <li class="menu-item inline-content text-bold">Accueil</li>
          <li class="menu-item inline-content text-bold">Société</li>
          <li class="menu-item inline-content text-bold">Secteurs d'activités</li>
          <li class="menu-item inline-content text-bold">Parc-machines</li>
          <li class="menu-item inline-content text-bold">Contact</li>
        </ul>
        <p-divider class="inline-content" layout="vertical"></p-divider>
        <button class="btn devis-btn text-bold">
          DEMANDER UN DEVIS
        </button>
        <p-divider class="inline-content" layout="vertical"></p-divider>
        <div class="search-section inline-content">
            <i class="pi pi-search"></i>
        </div>
      </div>
    </div>
  </div>
</div>
