.menu-container{
  background: var(--var-bg-transparent-color);
  z-index: 99;
  padding: 0 15px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;

  .max-menu-container{
    margin: auto;
    max-width: 1366px;
  }

  .logo{
    width: 100%;
    height: 80px;
    //margin: 20px;
  }

  .devis-btn{
    color: var(--var-white-text-color);
    background: var(--var-bg-dark-blue-color);
    padding:  10px 20px;
    //background: var(--var-bg-gradient-blue-color);
    clip-path: polygon(0% 0%, 80% 0%, 100% 0%, 100% 80%, 100% 100%, 20px 100%, 0% 62%, 0% 20%);
  }

  .search-section {
    .pi-search{
      //color: var(--var-bg-gradient-blue-color);
      color: white;
      font-size: 1.5rem;
      margin-left: 10px;
      margin-top: 5px;
    }
  }

  .navbar-menu{
    position: relative;

    .navbar-toggler{
      background: var(--var-bg-transparent-color);
      border: 1px solid var(--var-bg-white-color);
      padding: 20px;

      .pi{
        color: var(--var-white-text-color);
        font-size: 18px;
      }
    }

    .nav-sm{

      *{
        display: block;
      }

      background: rgba(8, 34, 47, 0.90);
      width: 400px;
      border-radius: 5px;
      position: absolute;
      top: 100%;
      right: 0;
      padding: 5px;
      margin: 0;
      text-align: center;

      .menu-item{
        display: block;
        width: 100%;
        padding: 20px;
        color: var(--var-white-text-color);
        border-bottom: 5px solid var(--var-bg-transparent-color);

        .pi{
          color: var(--var-white-text-color);
        }
      }

      .menu-item-active {
        color: rgba(255, 255, 255, 0.7);
        border-bottom: 5px solid rgba(0, 156, 237, 0.5);
      }

      .menu-item:hover {
        color: var(--var-white-text-color);
        border-bottom: 5px solid var(--var-bg-cyan-blue-color);
        cursor: pointer;
      }

      .devis-btn{
        color: var(--var-white-text-color);
        background: var(--var-bg-dark-blue-color);
        padding:  15px 30px;
        display: inline-block;
      }

      .search-section {
        .pi-search{
          color: var(--var-bg-gradient-blue-color);
          font-size: 1rem;
        }
      }

    }

    .menu-nav {
      //margin:  30px 0 30px 10px;
      *{
        display: inline-block;
      }

      .menu-item{
        display: inline-block;
        color: var(--var-white-text-color);
        margin:  0 10px;
        padding: 10px 10px 15px;
        border-bottom: 5px solid var(--var-bg-transparent-color);
      }

      .menu-item-active {
        color: rgba(255, 255, 255, 0.7);
        border-bottom: 5px solid rgba(0, 156, 237, 0.5);
      }

      .menu-item:hover {
        color: var(--var-white-text-color);
        border-bottom: 5px solid var(--var-bg-cyan-blue-color);
        cursor: pointer;
      }



    }

  }

  .router-active{
    border-bottom: 5px solid var(--var-bg-cyan-blue-color) !important;
  }

}
