<app-mper-banner
  title="Parc-machines"
  titleSub="Accueil / Parc-machines"
  urlImg="../../../assets/MPER_IMAGE/commun/background/Parc-machines.gif">
</app-mper-banner>
<div class="container">
  <app-mper-header titleDark="Machine 1"></app-mper-header>
  <div class="societe-section">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <img appAnimationHoverEffect class="img-fluid" src="./assets/MPER_IMAGE/Parc_machine/_0000_Calque-18.png">
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="description">
          <h5><b>MPER MAROC</b> est un nouveau projet spécialisé dans la fabrication mécanique avec des machines à
            commandes numérique, ce projet est destiné à la sous-traitance rang 1 et 2 pour les secteurs
            les plus stratégiques de l’industrie marocaine tel l'aéronautique, l'automobile, ferroviaire et médicale
            ....</h5>
          <h5>
            Afin d’accroître notre activité, nous souhaitons disposé des machines qui ont pour objet la fabrication des
            pièces mécanique.
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <app-mper-header titleDark="Machine 2"></app-mper-header>
  <div class="societe-section">
    <div class="row">

      <div class="col-md-6 col-sm-12">
        <div class="description">
          <h5><b>MPER MAROC</b> est un nouveau projet spécialisé dans la fabrication mécanique avec des machines à
            commandes numérique, ce projet est destiné à la sous-traitance rang 1 et 2 pour les secteurs
            les plus stratégiques de l’industrie marocaine tel l'aéronautique, l'automobile, ferroviaire et médicale
            ....</h5>
          <h5>
            Afin d’accroître notre activité, nous souhaitons disposé des machines qui ont pour objet la fabrication des
            pièces mécanique.
          </h5>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <img appAnimationHoverEffect class="img-fluid" src="./assets/MPER_IMAGE/Parc_machine/_0001_Calque-17.png">
      </div>
    </div>
  </div>
</div>


<div class="container">
  <app-mper-header titleDark="Machines 3"></app-mper-header>
  <div class="societe-section">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <img appAnimationHoverEffect class="img-fluid" src="./assets/MPER_IMAGE/Parc_machine/_0002_Calque-16.png">
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="description">
          <h5><b>MPER MAROC</b> est un nouveau projet spécialisé dans la fabrication mécanique avec des machines à
            commandes numérique, ce projet est destiné à la sous-traitance rang 1 et 2 pour les secteurs
            les plus stratégiques de l’industrie marocaine tel l'aéronautique, l'automobile, ferroviaire et médicale
            ....</h5>
          <h5>
            Afin d’accroître notre activité, nous souhaitons disposé des machines qui ont pour objet la fabrication des
            pièces mécanique.
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <app-mper-header titleDark="Machine 4"></app-mper-header>
  <div class="societe-section">
    <div class="row">

      <div class="col-md-6 col-sm-12">
        <div class="description">
          <h5><b>MPER MAROC</b> est un nouveau projet spécialisé dans la fabrication mécanique avec des machines à
            commandes numérique, ce projet est destiné à la sous-traitance rang 1 et 2 pour les secteurs
            les plus stratégiques de l’industrie marocaine tel l'aéronautique, l'automobile, ferroviaire et médicale
            ....</h5>
          <h5>
            Afin d’accroître notre activité, nous souhaitons disposé des machines qui ont pour objet la fabrication des
            pièces mécanique.
          </h5>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <img appAnimationHoverEffect class="img-fluid" src="./assets/MPER_IMAGE/Parc_machine/_0003_Calque-14.png">
      </div>
    </div>
  </div>
</div>


<!--<div class="empty-space"></div>-->
